<h2 mat-dialog-title>Informações sobre as Eleições Municipais de 2024</h2>
<mat-dialog-content class="mat-typography">
    <h3>Isenção de Responsabilidade</h3>
    <p>Este site foi criado exclusivamente para repassar informações publicamente disponíveis fornecidas pelo TSE. A
        responsabilidade pela veracidade e precisão dos dados apresentados é inteiramente do TSE. Este portal não se
        responsabiliza por quaisquer imprecisões ou omissões nos dados.</p>
    <p>O site baseia-se em dados disponibilizados pelo TSE através do portal <a
            href="https://divulgacandcontas.tse.jus.br/divulga/#/home" target="_blank">Divulga Cand Contas</a>. Qualquer
        erro ou omissão não é de responsabilidade dos desenvolvedores deste site. Recomendamos que os usuários consultem
        diretamente o TSE para obter confirmações e informações adicionais.</p>

    <h3>Conformidade com a LGPD (Lei Geral de Proteção de Dados)</h3>
    <p>Embora este site não colete dados pessoais diretamente, respeitamos as diretrizes da Lei Geral de Proteção de
        Dados (LGPD). Para informações detalhadas sobre como dados pessoais são coletados, armazenados e utilizados,
        consulte nossa política de privacidade, disponível em [Política de Privacidade](#).</p>
    <p>Caso haja coleta de dados pessoais, será obtido o consentimento explícito dos usuários, e estes terão a opção de
        revogar seu consentimento a qualquer momento.</p>
    <p>Medidas de segurança adequadas estão em vigor para proteger qualquer dado pessoal coletado, garantindo a
        segurança e a privacidade dos dados dos usuários.</p>

    <h3>Licença e Direitos Autorais</h3>
    <p>O projeto é desenvolvido como um projeto open source, sem fins lucrativos, e a licença utilizada é a <a
            href="https://opensource.org/licenses/MIT" target="_blank">MIT License</a>. Isso permite o uso, modificação
        e distribuição do código, desde que respeitados os termos da licença.</p>
    <p>Damos crédito ao TSE como a fonte dos dados fornecidos. Qualquer uso ou reprodução desses dados deve respeitar as
        exigências de licenciamento e atribuição.</p>

    <h3>Responsabilidade por Conteúdo</h3>
    <p>Embora o site se limite a repassar informações, realizamos a verificação da precisão dos dados sempre que
        possível. No entanto, não garantimos a exatidão total dos dados e recomendamos que usuários verifiquem as
        informações com o TSE.</p>
    <p>Comprometemo-nos a manter os dados atualizados e a corrigir quaisquer erros identificados o mais rapidamente
        possível.</p>

    <h3>Conformidade com as Leis Eleitorais</h3>
    <p>A divulgação dos dados dos candidatos neste site está em conformidade com as regras eleitorais brasileiras e as
        orientações do TSE sobre a publicação de informações eleitorais.</p>

    <h3>Termos de Uso</h3>
    <p>Ao utilizar este site, você concorda com os seguintes termos:</p>
    <ul>
        <li><strong>Uso Responsável:</strong> As informações disponibilizadas são para fins informativos e não devem ser
            utilizadas para qualquer atividade que possa violar leis ou regulamentos. A responsabilidade pelo uso das
            informações é exclusivamente do usuário.</li>
        <li><strong>Proibição de Reproduções Não Autorizadas:</strong> É proibida a reprodução, distribuição ou
            modificação dos dados fornecidos por este site sem a devida autorização.</li>
        <li><strong>Limitação de Responsabilidade:</strong> O site não se responsabiliza por qualquer dano, perda ou
            prejuízo decorrente do uso das informações fornecidas. A verificação e validação dos dados são de
            responsabilidade do usuário.</li>
        <li><strong>Alterações nos Termos:</strong> Reservamo-nos o direito de modificar os termos de uso a qualquer
            momento. Recomendamos que você reveja periodicamente os termos para estar ciente de quaisquer alterações.
        </li>
    </ul>

    <h3>Critérios de Aceite</h3>
    <p>Para ser aceito, o site deve garantir que os dados fornecidos estejam de acordo com os dados disponibilizados
        pelo TSE através do portal <a href="https://divulgacandcontas.tse.jus.br/divulga/#/home" target="_blank">Divulga
            Cand Contas</a>. O site deve realizar verificações regulares para assegurar que as informações estejam
        atualizadas e corretas.</p>
    <p>O site deve ser acessível a todos os usuários, incluindo aqueles com deficiência, e cumprir com as diretrizes de
        acessibilidade da Web para garantir que todas as informações possam ser acessadas por meio de tecnologias
        assistivas.</p>
    <p>A apresentação dos dados deve ser clara e objetiva, evitando qualquer forma de desinformação ou interpretação
        errônea. A transparência na comunicação das limitações e responsabilidades do site deve ser mantida.</p>
    <p>O site deve implementar práticas robustas de segurança para proteger qualquer dado pessoal coletado e garantir
        que não haja vulnerabilidades que possam comprometer a integridade e a confidencialidade das informações.</p>

    <h3>Política de Privacidade</h3>
    <p>Este site coleta dados sobre as eleições municipais de 2024 a partir de informações fornecidas pelo TSE,
        disponível através do portal <a href="https://divulgacandcontas.tse.jus.br/divulga/#/home"
            target="_blank">Divulga Cand Contas</a>. O TSE disponibiliza APIs (Interface de Programação de Aplicações)
        que permitem a consulta de informações sobre candidatos e eleições. APIs são conjuntos de definições e
        protocolos que permitem que softwares interajam e compartilhem dados de forma segura e padronizada.</p>
    <p>Não coletamos dados pessoais diretamente. Apenas repassamos as informações fornecidas pelo TSE, e qualquer uso
        dos dados obtidos deve ser feito de acordo com as diretrizes do órgão.</p>

    <h3>Compromisso com a Imparcialidade</h3>
    <p>Este site não realiza propaganda política, difamação de candidatos ou qualquer outro meio que possa prejudicar o
        processo eleitoral. Nosso compromisso é fornecer informações precisas e imparciais, respeitando o processo
        democrático e a integridade das eleições.</p>

    <h3>Dados dos Desenvolvedores</h3>
    <p>Para qualquer dúvida ou contato com a equipe responsável pelo desenvolvimento deste site, utilize as informações
        abaixo:</p>
    <ul>
        <li><strong>Nome do Desenvolvedor Principal:</strong> Caio Vinicius De Lima</li>
        <li><strong>GitHub:</strong> <a href="https://github.com/caiovlima" target="_blank">github.com/caiovlima</a>
        </li>
    </ul>

teste
    <mat-checkbox [(ngModel)]="isChecked" required *ngIf="!lastAcceptedDateTime">
        Eu declaro que li e estou de acordo com os critérios de aceite e as políticas de privacidade.
    </mat-checkbox>

    <!-- Se a data e hora do último aceite estiver disponível, exibe-a -->
     <div *ngIf="lastAcceptedDateTime">
        <p>Você confirmou os critérios de aceite e as políticas de privacidade em:</p>
        <p><strong>{{ lastAcceptedDateTime | date:'dd MMMM yyyy HH:mm'}}</strong></p>
     </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <!-- Botão para fechar o modal -->
    <button mat-button (click)="onClose()" *ngIf="lastAcceptedDateTime">Fechar</button>
    <!-- Botão para confirmar, habilitado apenas se o checkbox estiver marcado -->
    <button mat-button (click)="onConfirm()" *ngIf="!lastAcceptedDateTime" [disabled]="!isChecked" cdkFocusInitial>Confirmar</button>
</mat-dialog-actions>