<div class="container">
    <!-- Primeiro Card -->
    <mat-card class="custom-card custom-card-profile">
        <div class="photo-container">
            <img src="https://via.placeholder.com/150" alt="Foto do Candidato" class="candidate-photo">
            <div class="overlay">Concorrendo</div>
            <div class="card-content">
                <p class="highlighted-text">FABIANO BELENTANI</p>
                <p>Prefeito - Novo Horizonte/SP</p>
                <p>Partido Liberal - PL</p>
                <p>56.624.957/0001-63</p>
                <p class="highlighted-text">22</p>
            </div>
        </div>
    </mat-card>

    <!-- Segundo Card -->
    <mat-card class="custom-card custom-card-resume">
        <mat-card-header>
            <div class="header-left">Última Atualização: 30/08/2024 09:07</div>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <p><strong>Nome Completo:</strong> FABIANO DE MELLO BELENTANI</p>
            <div class="info-blocks">
                <div class="info-block">
                    <p><strong>Data de Nascimento:</strong> 12/09/1976</p>
                    <p><strong>Gênero:</strong> Masculino</p>
                    <p><strong>Cor / Raça:</strong> Branca</p>
                    <p><strong>Quilombola:</strong> Não</p>
                    <p><strong>Estado Civil:</strong> Casado(a)</p>
                    <p><strong>Grau de Instrução:</strong> Superior Completo</p>
                </div>
                <div class="info-block">
                    <p><strong>Ocupação:</strong> Prefeito</p>
                    <p><strong>Nacionalidade / Naturalidade:</strong> Brasileira Nata / SP-Novo Horizonte</p>
                    <p><strong>Candidato a reeleição:</strong> Sim</p>
                    <p><strong>Coligação:</strong> HONESTIDADE, UNIÃO E TRABALHO</p>
                    <p><strong>Composição da Coligação:</strong> PP / UNIÃO / PL / PSD</p>
                    <p><strong>Limite Legal de Gastos 1º Turno: </strong> <span class="highline">R$ 216.378,02</span></p>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>