<div class="container">
    <!-- Primeiro Card -->
    <mat-card class="custom-card custom-card-profile">
        <div class="photo-container">
            <img src="https://via.placeholder.com/150" alt="Foto do Candidato" class="candidate-photo">
            <div class="overlay">Concorrendo</div>
            <div class="card-content">
                <p class="highlighted-text">FABIANO BELENTANI</p>
                <p>Prefeito - Novo Horizonte/SP</p>
                <p>Partido Liberal - PL</p>
                <p>56.624.957/0001-63</p>
                <p class="highlighted-text">22</p>
            </div>
        </div>
    </mat-card>

    <!-- Segundo Card -->
    <mat-card class="custom-card custom-card-resume">
        <mat-card-header>
            <div class="header-left">Última Atualização: 30/08/2024 09:07</div>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <p><strong>Nome Completo:</strong> FABIANO DE MELLO BELENTANI</p>
            <div class="info-blocks">
                <div class="info-block">
                    <p><strong>Data de Nascimento:</strong> 12/09/1976</p>
                    <p><strong>Gênero:</strong> Masculino</p>
                    <p><strong>Cor / Raça:</strong> Branca</p>
                    <p><strong>Quilombola:</strong> Não</p>
                    <p><strong>Estado Civil:</strong> Casado(a)</p>
                    <p><strong>Grau de Instrução:</strong> Superior Completo</p>
                </div>
                <div class="info-block">
                    <p><strong>Ocupação:</strong> Prefeito</p>
                    <p><strong>Nacionalidade / Naturalidade:</strong> Brasileira Nata / SP-Novo Horizonte</p>
                    <p><strong>Candidato a reeleição:</strong> Sim</p>
                    <p><strong>Coligação:</strong> HONESTIDADE, UNIÃO E TRABALHO</p>
                    <p><strong>Composição da Coligação:</strong> PP / UNIÃO / PL / PSD</p>
                    <p><strong>Limite Legal de Gastos 1º Turno: </strong> <span class="highline">R$ 216.378,02</span>
                    </p>
                </div>
            </div>

            <div class="expansion-panels">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-icon>people</mat-icon>
                                Vices / Suplentes
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="info-container">
                            <img src="https://via.placeholder.com/100" alt="Foto do Vice" class="info-photo">
                            <div class="info-text">
                                <p class="highlighted-text">Amarilis Biasi</p>
                                <p>Vice-prefeito</p>
                                <p>Partido Social Democrático - 22</p>
                            </div>
                            <button mat-raised-button color="primary" class="info-button">Dados do Candidato</button>
                        </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-icon>event</mat-icon>
                                Eleições
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="election-list">
                            <li>
                                <!-- <mat-icon matTooltip="Acessar os dados na eleição de 2018">search</mat-icon> -->
                                Candidato a Prefeito/Novo Horizonte partido PL em 2024
                            </li>
                            <li>
                                Candidato a Prefeito/Novo Horizonte partido PL em 2018
                                <mat-icon matTooltip="Acessar os dados na eleição de 2018">search</mat-icon>
                            </li>
                            <li>
                                Candidato a Prefeito/Novo Horizonte partido PL em 2012
                                <mat-icon matTooltip="Acessar os dados na eleição de 2012">search</mat-icon>
                            </li>
                        </ul>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-icon>attach_money</mat-icon>
                                Bens do Candidato
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p><strong>Total de bens: </strong> <span class="highline">R$216.378,02</span>

                        <ul class="bens-list">
                            <li>
                                <div class="bens-item">
                                    <div class="bens-details">
                                        <p class="highlighted-text">Veículo automotor terrestre: caminhão, automóvel,
                                            moto, etc.</p>
                                        <p>FIAT STRADA FREEDOM 13 CS 2022/2021</p>
                                        <p class="highlighted-text">R$ 82.000,00</p>
                                    </div>
                                </div>

                            </li>
                            <li>
                                <div class="bens-item">
                                    <div class="bens-details">
                                        <p class="highlighted-text">Dinheiro em espécie - moeda nacional</p>
                                        <p>NUMERARIOS</p>
                                        <p class="highlighted-text">R$ 110.000,00</p>
                                    </div>
                                </div>
                            </li>
                            <!-- Adicione os outros itens de bens aqui da mesma forma -->
                            <!-- Continue a lista seguindo o mesmo padrão para os itens restantes -->
                        </ul>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-icon>list_alt</mat-icon>
                                Propostas
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="election-list">
                            <li>
                                Proposta de Governo
                                <mat-icon matTooltip="Baixar Proposta">download</mat-icon>
                            </li>
                        </ul>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-icon>description</mat-icon>
                                Certidão
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="election-list">
                            <li>
                                Certidão criminal da Justiça Federal de 1º grau
                                <mat-icon matTooltip="Baixar certidão">download</mat-icon>
                            </li>
                            <li>
                                Certidão criminal da Justiça Federal de 1º grau
                                <mat-icon matTooltip="Baixar certidão">download</mat-icon>
                            </li>
                            <li>
                                Certidão criminal da Justiça Federal de 1º grau
                                <mat-icon matTooltip="Baixar certidão">download</mat-icon>
                            </li>
                        </ul>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-icon>gavel</mat-icon>
                                Processos
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="election-list">
                            <li>
                                0600134-63.2024.6.26.0079 - Processo De Registro Da Candidatura
                                <mat-icon matTooltip="Visualizar Processo">search</mat-icon>
                            </li>
                            <li>
                                0600134-63.2024.6.26.0079 - Processo De Registro Da Candidatura
                                <mat-icon matTooltip="Visualizar Processo">search</mat-icon>
                            </li>
                            <li>
                                0600134-63.2024.6.26.0079 - Processo De Registro Da Candidatura
                                <mat-icon matTooltip="Visualizar Processo">search</mat-icon>
                            </li>
                        </ul>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-icon>link</mat-icon>
                                Sites do Candidato
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="election-list">
                            <li>
                                instagram - https://www.instagram.com/fabianobelentani?igsh=eTNmZ2J4N3c5eXlh
                                <mat-icon matTooltip="Visualizar Rede Social">link</mat-icon>
                            </li>
                            <li>
                                facebook - https://www.instagram.com/fabianobelentani?igsh=eTNmZ2J4N3c5eXlh
                                <mat-icon matTooltip="Visualizar Rede Social">facebook</mat-icon>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </mat-card-content>
    </mat-card>
</div>