.container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
}

.custom-card {
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.custom-card-profile {
    width: 20%;
}

.custom-card-resume {
  width: 65%;
}

.card-content {
  text-align: center;
}

.photo-container {
  margin-bottom: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.candidate-photo {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 35%;
  background-color: #add8e6; /* Azul claro */
  color: black;
  padding: 2px 5px;
  border-radius: 4px;
}

.highline {
  background-color: #add8e6; /* Azul claro */
  color: black;
  padding: 2px 5px;
  border-radius: 4px;
}

.highlighted-text {
  font-weight: bold;
  font-size: 1.5em;
  color: #000;
}

.info-blocks {
  display: flex;
  justify-content: space-between;
}

.info-block {
  width: 48%;
}

.mat-card-title, .mat-card-subtitle {
  text-align: left;
}

.header-left {
  float: left;
  font-weight: bold;
}

.header-right {
  float: right;
}
