<div class="search-container">



    <mat-form-field appearance="fill">
        <mat-label>Selecione o Estado</mat-label>
        <mat-select  (selectionChange)="onEstadoChange($event.value)">
            <mat-option *ngFor="let estado of estados" [value]="estado.sigla">
                {{estado.nome}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Selecione a Cidade</mat-label>
        <mat-select  (selectionChange)="onMunicipioChange($event.value)" >
            <mat-option *ngFor="let municipio of municipios" [value]="municipio">
                {{municipio.nome}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Selecione o Cargo</mat-label>
        <mat-select  (selectionChange)="onCargosChange($event.value)" >
            <mat-option *ngFor="let cargo of cargos" [value]="cargo.valor">
                {{cargo.nome}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <ng-container *ngIf="candidatos && candidatos.length > 0">
        <mat-list>
            <div mat-subheader>Candidatos</div>
            @for (candidato of candidatos; track candidato) {
            <mat-list-item (click)="detalhesCandidato(candidato)">
                <mat-icon matListItemIcon>zoom_in</mat-icon>
                <div matListItemTitle>{{candidato.nomeCompleto}}</div>
                <div matListItemLine>Número: {{candidato.numero}} - Partido: {{candidato.partido.sigla}}</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            }
        </mat-list>
    </ng-container>

</div>