mat-dialog-content {
  padding: 20px;
  text-align: center;
}

mat-dialog-actions {
  display: flex;
  justify-content: center;
  padding: 10px;
}

button {
  background-color: #E0F7FA; /* Azul claro quase bebê */
  color: #00796B; /* Cor do texto do botão */
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Drop shadow */
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #B2EBF2; /* Cor de hover */
  }
}
