<div class="list-container">
<app-candidatos-filtro></app-candidatos-filtro>

<ng-container *ngIf="candidatos && candidatos.length > 0">
    <mat-list>
        <div mat-subheader>Candidatos</div>
        @for (candidato of candidatos; track candidato) {
        <mat-list-item (click)="detalhesCandidato(candidato)">
            <mat-icon matListItemIcon>zoom_in</mat-icon>
            <div matListItemTitle>{{candidato.nomeCompleto | capitalizeFirstLetters}}</div>
            <div matListItemLine>Número: {{candidato.numero}} - Partido: {{candidato.partido.sigla}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        }
    </mat-list>
</ng-container>
</div>
