<div class="list-container">
<app-candidatos-filtro></app-candidatos-filtro>
<mat-form-field *ngIf="candidatos !== null && candidatos.length > 0">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput (keyup)="applyFilter($event)" placeholder="Buscar Candidato">
</mat-form-field>

<ng-container *ngIf="filteredCandidatos && filteredCandidatos.length > 0">
    <mat-list>
        <div mat-subheader>Candidatos</div>
        @for (candidato of filteredCandidatos; track candidato) {
        <mat-list-item (click)="detalhesCandidato(candidato)">
            <mat-icon matListItemIcon>zoom_in</mat-icon>
            <div matListItemTitle>{{candidato.nomeCompleto | capitalizeFirstLetters}}</div>
            <div matListItemLine>Número: {{candidato.numero}} - Partido: {{candidato.partido.sigla}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        }
    </mat-list>
</ng-container>
</div>
